{% load static %}
<table id="priest-datatable" class="min-w-full bg-white border border-gray-200">
    <thead>
        <tr>
            <th class="px-4 py-2 border-b bg-gray-blue" style="width: 5%;">
                <input type="checkbox" id="selectAll">
            </th>
            <th class="text-left text-zinc-500 font-medium text-sm p-4 border-b bg-gray-blue"
                style="width: 25%;">Priest Name</th>
            <th class="text-left text-zinc-500 font-medium text-sm p-4 border-b bg-gray-blue"
                style="width: 20%;">Email</th>
            <th class="text-left text-zinc-500 font-medium text-sm p-4 border-b bg-gray-blue"
                style="width: 25%;">Contact No</th>
            <th class="text-left text-zinc-500 font-medium text-sm p-4 border-b bg-gray-blue"
                style="width: 15%;">Status</th>
            <th class="text-zinc-500 font-medium text-sm p-4 border-b bg-gray-blue text-left"
                style="width: 15%;">Actions</th>
        </tr>
    </thead>
</table>