{% load static %}

<!-- Sidebar -->
<div id="sidenav" class="max-lg:hidden transition-[min-width] duration-300 ease-in-out min-w-[280px] bg-white flex flex-col border-r border-r-gray-light sticky top-0 h-screen overflow-y-auto">
  <!-- Logo Section -->
  <div class="flex items-center justify-between p-5 min-h-[90px] border-b border-b-gray-light">
    <div class="flex items-center">
      <img src="{% static 'images/adilabad_bg.jpg' %}" alt="Logo" class="h-10" />
      <span class="menu-text px-2 font-bold text-red-200 text-base">Adilabad Diocese</span>
    </div>
    <!-- Collapse Icon -->
    <button id="collapseBtn" class="max-lg:hidden">
      <img src="{% static 'images/sidenav_collapse.svg' %}" id="collapseIcon" alt="Collapse Icon" class="w-5 h-3" />
    </button>
    <button id="closeBtn" class="lg:hidden">
      <svg class="w-4 h-4 text-gray-500 close-icon">
        <use href="{% static 'images/cross.svg' %}#Vector"></use>
      </svg>
    </button>
  </div>
  <!-- Sidebar Links with Icons -->
  <nav id="sidenav-links"
    class="flex-grow overflow-y-auto font-medium text-sm {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
    <!-- Dashboard Menu -->
    <a href="{% url 'dashboard:dashboard' %}"
      class="nav-menu h-10 rounded flex items-start mx-5 my-5 p-2 group hover:bg-blue-100 {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
      <svg class="w-6 h-6 text-gray-500 group-hover:text-blue-500">
        <use href="{% static 'images/dashboard_icon.svg' %}#Dashboard"></use>
      </svg>
      <span class="menu-text ml-3">Dashboard</span>
    </a>
    <!-- Priest Menu -->
    <div class="nav-menu flex flex-col items-start mx-5 my-5 overflow-hidden">
      <button id="organizationToggle" class="h-10 flex rounded items-center w-full p-2 group hover:bg-blue-100">
        <svg class="w-6 h-6 text-gray-500 group-hover:text-blue-500">
          <use href="{% static 'images/roles_icon.svg' %}#Roles"></use>
        </svg>
        <span class="menu-text ml-3">Priest</span>
        <img src="{% static 'images/layout_dropdown_arrow.svg' %}" id="sidenav-dropdown-icon" alt="dropdown arrow"
          class="ml-auto menu-text" />
      </button>
      <div id="organizationMenu" class="hidden w-full flex-col space-y-3 pl-8 mt-4 font-medium text-bayouxBlue">
        <a href="{% url 'priest:priest.create' %}"
          class="block p-2 rounded hover:bg-blue-100 {% if request.resolver_match.url_name == 'priest.create' %}active{% endif %}">Add
          Priest</a>
        <a href="{% url 'priest:priest.index' %}"
          class="block p-2 rounded hover:bg-blue-100 {% if request.resolver_match.url_name == 'priest.index' %}active{% endif %}">Priest
          List</a>
      </div>
    </div>
    <!-- Parish Menu -->
    <div class="nav-menu flex flex-col items-start mx-5 my-5 overflow-hidden">
      <button id="usersToggle" class="h-10 flex rounded items-center w-full p-2 group hover:bg-blue-100">
        <svg class="w-6 h-6 text-gray-500 group-hover:text-blue-500">
          <use href="{% static 'images/users_icon.svg' %}#Users"></use>
        </svg>
        <span class="menu-text ml-3">Parish</span>
        <img src="{% static 'images/layout_dropdown_arrow.svg' %}" alt="dropdown arrow" class="ml-auto menu-text" />
      </button>
      <div id="usersMenu" class="hidden w-full flex-col space-y-3 pl-8 mt-4 font-medium text-bayouxBlue">
        <a href="{% url 'parish:parish.create' %}"
          class="block p-2 rounded hover:bg-blue-100 {% if request.resolver_match.url_name == 'roles.create' %}active{% endif %}">Add
          Parish</a>
        <a href="{% url 'parish:parish.list' %}"
          class="block p-2 rounded hover:bg-blue-100 {% if request.resolver_match.url_name == 'roles.index' %}active{% endif %}">Parish
          List</a>
      </div>
    </div>
    <!-- Family Unit Menu -->
    <div class="nav-menu flex flex-col items-start mx-5 my-5 overflow-hidden">
      <button id="observationsToggle" class="h-10 flex rounded items-center w-full p-2 group hover:bg-blue-100">
        <svg class="w-6 h-6 text-gray-500 group-hover:text-blue-500">
          <use href="{% static 'images/roles_icon.svg' %}#Roles"></use>
        </svg>
        <span class="menu-text ml-3">Family Unit</span>
        <img src="{% static 'images/layout_dropdown_arrow.svg' %}" alt="dropdown arrow" class="ml-auto menu-text" />
      </button>
      <div id="observationsMenu" class="hidden w-full flex-col space-y-3 pl-8 mt-4 font-medium text-bayouxBlue">
        <a href="{% url 'family_unit:family_unit.create' %}"
          class="block p-2 rounded hover:bg-blue-100 {% if request.resolver_match.url_name == 'observation.create' %}active{% endif %}">Add
          Family Unit</a>
        <a href="{% url 'family_unit:family_unit.list' %}"
          class="block p-2 rounded hover:bg-blue-100 {% if request.resolver_match.url_name == 'observation.index' %}active{% endif %}">Family
          Unit List</a>
      </div>
    </div>
    <!-- Family Menu -->
    <div class="nav-menu flex flex-col items-start mx-5 my-5 overflow-hidden">
      <button id="familyToggle" class="h-10 flex rounded items-center w-full p-2 group hover:bg-blue-100">
        <svg class="w-6 h-6 text-gray-500 group-hover:text-blue-500">
          <use href="{% static 'images/observations_icon.svg' %}#Observations"></use>
        </svg>
        <span class="menu-text ml-3">Family Details</span>
        <img src="{% static 'images/layout_dropdown_arrow.svg' %}" alt="dropdown arrow" class="ml-auto menu-text" />
      </button>
      <div id="familyMenu" class="hidden w-full flex-col space-y-3 pl-8 mt-4 font-medium text-bayouxBlue">
        <a href="{% url 'family_details:family_details.create' %}"
          class="block p-2 rounded hover:bg-blue-100 {% if request.resolver_match.url_name == 'checklist.create' %}active{% endif %}">Add
          Family</a>
        <a href="{% url 'family_details:family_details.list' %}"
          class="block p-2 rounded hover:bg-blue-100 {% if request.resolver_match.url_name == 'checklist.index' %}active{% endif %}">Family
          List</a>
      </div>
    </div>
  </nav>
</div>

{% block script %}
<script src="{% static 'js/custom/pages/layout/sidemenu.js' %}?time={% now 'h:i:s' %}"></script>
<style>
  #sidenav.collapsed {
    min-width: 80px;
  }

  .menu-text {
    transition: opacity 0.3s ease;
  }

  .menu-text.hidden {
    opacity: 0;
  }

  .nav-menu {
    transition: margin 0.3s ease;
  }

  .nav-menu img {
    transition: margin 0.3s ease;
  }

  .nav-menu img.centered-img {
    margin: auto;
  }

  .sidenav-open {
    display: block;
    position: fixed;
    /* Ensure it stays on top of the content */
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    /* Or any width you desire */
    background-color: white;
    z-index: 100;
    /* Higher z-index than the content */
    transition: width 0.3s ease;
  }

  /* Content gets dimmed when sidenav is open */
  .main-content.overlay-active {
    filter: brightness(0.7);
    pointer-events: none;
    /* Prevent interaction with content while sidenav is open */
  }

  /* Optional: Optional background overlay effect */
  .main-content.overlay-active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dimming effect */
    z-index: 99;
    /* Below sidenav */
    pointer-events: none;
    /* Allow clicks through the overlay */
  }
</style>
{% endblock script %}