{% load static %}

<table id="checklist-datatable" class="min-w-full bg-white border border-gray-200">
    <thead>
        <tr>
            <th class="w-[5%] px-4 py-2 border-b bg-gray-blue">
                <input type="checkbox" id="selectAll">
            </th>
            <th class="w-[20%] text-left text-zinc-500 font-medium text-sm p-4 border-b bg-gray-blue">Family Name</th>
            <th class="w-[20%] text-left text-zinc-500 font-medium text-sm p-4 border-b bg-gray-blue">Observation</th>
            <th class="w-[30%] text-left text-zinc-500 font-medium text-sm p-4 border-b bg-gray-blue">Description</th>
            <th class="w-[12%] text-left text-zinc-500 font-medium text-sm p-4 border-b bg-gray-blue">Status</th>
            <th class="hidden">Created Date</th>
            <th class="w-[13%] text-left text-zinc-500 font-medium text-sm p-4 border-b bg-gray-blue">Actions</th>
        </tr>
    </thead>
</table>