{% extends 'layouts/apps.html' %} 
{% load static %}

<!-- Profile page layout -->
{% block content %}
<!-- Breadcrumb -->
{% include 'layouts/partials/breadcrumbs.html' %}

<h1>{% block heading %} {% endblock %}</h1>

<!-- Form -->
<div class="mt-6 border border-gray-200 rounded-lg overflow-hidden">
    <h2 class="text-base text-zinc-500 font-medium bg-gray-medium px-8 py-4">
        {% block sub-heading %} {% endblock %}
    </h2>
    {% block form %} {% endblock %}
</div>

{% endblock content %}