{% load static tailwind_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Page</title>
    {% tailwind_css %}
  </head>
  <body>
    <div class="bg-blue-500 p-4 text-white text-2xl">
      Tailwind Test
    </div>
    <h1 class="text-yellow-600 text-3xl font-bold">Hii</h1>
    <h1 class="text-green-500 text-xl"><a href="{% url 'fam:create' %}">Hoii Family Unit</a></h1>

    {% block content %}
    {% endblock content %}
  </body>
</html>