{% extends 'layouts/base_profile.html' %} {% load static %} {% block heading %}
Checklist Details {% endblock %} {% block sub-heading %} Checklist Details {%
endblock %} {% block buttons %}
<button
  type="button"
  class="btn-blue-outlined"
  data-view-function="delete_entry"
>
  <span class="mr-2.5">Delete</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="18"
    height="18"
    viewBox="0 0 20 20"
    fill="none"
  >
    <path
      d="M12.2833 7.50001L11.995 15M8.005 15L7.71667 7.50001M16.0233 4.82501C16.3083 4.86834 16.5917 4.91417 16.875 4.96334M16.0233 4.82501L15.1333 16.3942C15.097 16.8652 14.8842 17.3051 14.5375 17.626C14.1908 17.9469 13.7358 18.1251 13.2633 18.125H6.73667C6.26425 18.1251 5.80919 17.9469 5.46248 17.626C5.11578 17.3051 4.90299 16.8652 4.86667 16.3942L3.97667 4.82501M16.0233 4.82501C15.0616 4.6796 14.0948 4.56925 13.125 4.49417M3.97667 4.82501C3.69167 4.86751 3.40833 4.91334 3.125 4.96251M3.97667 4.82501C4.93844 4.67961 5.9052 4.56926 6.875 4.49417M13.125 4.49417V3.73084C13.125 2.74751 12.3667 1.92751 11.3833 1.89667C10.4613 1.86721 9.53865 1.86721 8.61667 1.89667C7.63333 1.92751 6.875 2.74834 6.875 3.73084V4.49417M13.125 4.49417C11.0448 4.33341 8.95523 4.33341 6.875 4.49417"
      stroke="#3B82F6"
      stroke-width="1.25"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</button>

<a
  href="{% url 'observations:checklist:checklist.update' encyption.encrypt_id %}"
  class="btn-blue"
>
  <span class="mr-2.5">Edit</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 20 20"
    fill="none"
  >
    <path
      d="M5.5 5.33301H4.66667C4.22464 5.33301 3.80072 5.5086 3.48816 5.82116C3.17559 6.13372 3 6.55765 3 6.99967V14.4997C3 14.9417 3.17559 15.3656 3.48816 15.6782C3.80072 15.9907 4.22464 16.1663 4.66667 16.1663H12.1667C12.6087 16.1663 13.0326 15.9907 13.3452 15.6782C13.6577 15.3656 13.8333 14.9417 13.8333 14.4997V13.6663"
      stroke="white"
      stroke-width="1.4"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M12.9993 3.66676L15.4993 6.16676M16.6535 4.98759C16.9817 4.65938 17.1661 4.21424 17.1661 3.75009C17.1661 3.28594 16.9817 2.84079 16.6535 2.51259C16.3253 2.18438 15.8802 2 15.416 2C14.9519 2 14.5067 2.18438 14.1785 2.51259L7.16602 9.50009V12.0001H9.66602L16.6535 4.98759Z"
      stroke="white"
      stroke-width="1.4"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</a>
{% endblock %} {% block row1 %}
<div class="flex flex-col gap-y-14">
  <div class="grid gap-y-3">
    <h3 class="text-slate-500 text-sm font-medium">Checklist Name:</h3>
    <p class="text-zinc-950 text-sm">{{ checklist.name|default_if_none:'' }}</p>
  </div>
  <div class="grid gap-y-3">
    <h3 class="text-slate-500 text-sm font-medium">Status:</h3>
    <p class="text-zinc-950 text-sm">
      {% if checklist.status == "Active" %} Active {% else %} Inactive {% endif
      %}
    </p>
  </div>
</div>

<div class="flex flex-col gap-y-14">
  <div class="grid gap-y-3">
    <h3 class="text-slate-500 text-sm font-medium">Observation:</h3>
    <p class="text-zinc-950 text-sm">
      {{ checklist.observation.name|default_if_none:'' }}
    </p>
  </div>
  <div class="grid gap-y-3">
    <h3 class="text-slate-500 text-sm font-medium">Description:</h3>
    <p class="text-zinc-950 text-sm">
      {{ checklist.description|default_if_none:'' }}
    </p>
  </div>
</div>
{% endblock %} {% block row2 %}
<div class="overflow-auto pb-11 rounded-md w-full xl:w-10/12">
  <table class="w-full border-collapse border border-gray-200">
    <thead>
      <tr class="bg-gray-200 text-left">
        <th
          class="border border-gray-200 pl-8 py-4 pr-8 w-[40%] flex-grow text-zinc-950 text-sm font-semibold"
        >
          Checklist Item
        </th>
        <th
          class="border border-gray-200 pl-8 py-4 pr-8 w-[23%] flex-grow text-zinc-950 text-sm font-semibold"
        >
          Response Type
        </th>
        <th
          class="border border-gray-200 pl-8 py-4 pr-8 w-[27%] flex-grow text-zinc-950 text-sm font-semibold"
        >
          Options
        </th>
        <th
          class="border border-gray-200 pl-8 py-4 pr-8 w-[10%] xl:w-[20%] flex-grow text-zinc-950 text-sm font-semibold"
        >
          Weightage
        </th>
      </tr>
    </thead>
    <tbody>
      {% for question in checklist_questions%}
      <tr>
        <td
          class="border border-gray-200 pl-8 py-4 pr-8 flex-grow text-zinc-950 text-sm"
        >
          {{ question.title|default_if_none:'' }}
        </td>
        <td
          class="border border-gray-200 pl-8 py-4 pr-8 flex-grow text-zinc-950 text-sm"
        >
          {{ question.question_type|default_if_none:'' }}
        </td>
        <td
          class="border border-gray-200 pl-8 py-4 pr-8 flex-grow text-zinc-950 text-sm xl:pr-16"
        >
          {{ question.options|default_if_none:'' }}
        </td>
        <td
          class="border border-gray-200 pl-8 py-4 pr-8 flex-grow text-zinc-950 text-sm text-center"
        >
          {{ question.weightage|default_if_none:'' }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include
'superadmin/observations/observation_templates/partials/view_competency_modal.html'
%} {% endblock %} {% block script %}
<script>
  var api_config = {
    csrfmiddlewaretoken: "{{ csrf_token }}",
    redirection_url: "{% url 'observations:checklist:checklist.index' %}",
    delete_records:
      "{% url 'observations:checklist:checklist.records.destroy' %}",
    record_id: "{{ checklist.id }}",
    item: "Checklist",
  };
</script>

<script src="{% static 'js/custom/pages/superadmin/view-delete.js' %}?time={% now 'h:i:s' %}"></script>
{% endblock script %}
